 <div class="docs">
            <div class="nameOne">{{this.nameOne}}</div>
            <div class="nameOnePhone">{{this.nameOnePhone}}</div>
            <div class="nameTwo">{{this.nameTwo}}</div>
            <div class="nameTwoPhone">{{this.nameTwoPhone}}</div>
            <div class="nameTwoAddress">{{this.nameTwoAddress}}</div>
            <div class="amount">{{this.currency}}{{this.amount}}</div>
            <div class="currency">{{this.sherfiOne}} {{this.sherfi}}</div>
            <div class="payed">{{this.payed}}</div>
            <div class="date">{{this.date}}</div>
</div>