{{> header}}
<div class="add_list">
    <div>ስም ሰዳዲ {{todo.nameOne}}</div>
    <div>ተለፎን ሰዳዲ {{todo.nameOnePhone}}</div>
    <div>ስም ተቀባሊ {{todo.nameTwo}}</div>
    <div>ተለፎን ተቀባሊ {{todo.nameTwoPhone}}</div>
    <div>ተቀባሊ ኣድራሻ {{todo.nameTwoAddress}}</div>
    <div>ዓቐን ገንዘብ {{todo.amount}}</div>
    <div>ዓይነት {{todo.currency}}</div>
    <div>{{todo.payed}}</div>
    <div>{{todo.date}}</div>
</div>